/* src/app/components/menu-page/menu-page.component.css */

.spinner, .error 
{
    text-align: center;
    padding: 50px;
    font-size: 1.2em;
}

.error 
{
    color: red;
}

.empty 
{
    text-align: center;
    padding: 50px;
    color: #666;
}